@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&family=Roboto+Condensed&display=swap');



* {
  box-sizing: border-box;
  font-family: 'Mitr', sans-serif;
}

body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  margin: 30px auto;
  width: 350px;
 }
 
 .btn-report {
  width: 45%;
  background-color: #ff6347;
  margin: 5px;
  dispaly: inline;
  color: #f7f7f7;
  border: solid 1px gray;
  border-radius: 3px;
 }